* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

.centered-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  display: flex;
  gap: 20px;
  padding: 30px 180px;
}

.brown-text {
  color: #a0522d;
  font-weight: bold;
}

.sort-by {
  display: flex;
  align-items: center;
}

.sort-by label {
  margin-right: 8px;
  font-size: 14px;
}

.sort-dropdown {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
